a {
    text-decoration: none;
}

.card{
    line-height: 19px;
    font-family: Arial;
    vertical-align: bottom;
    width: 308px;
    height: auto;
    background-color: #FFFFFF;
    border: 3;
    margin-left: 26px;
    margin-bottom: 26px;
    border-color: black;
    border-style: solid;
}

.card__img {
  width: 308px;
}

.card__title {
    color: #3A3A3A;
    font-size: 23px;
    font-style: bold;
    padding-top: 19px;
    padding-left: 19px;
    padding-right: 19px;
}

.card__subtitle {
    color: #ADADAD;
    font-size: 12px;
    font-style: bold;
    text-transform: uppercase;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 19px;
}

.card__text {
    color: #3A3A3A;
    font-size: 12px;
    line-height: 1.583;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 19px;
}
