.card-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-right: 26px;
    margin-top:26px;
}

@media (max-width: 1000px) {
    .card-container{
      flex-flow: column;
    }

}
